__pycache__/
*.pyc
.venv/
outputs/
outputs_ablation/
outputs_detector/
ablation/
dataset/
dataset_v2/
dataset_yolo/
geometry_test/
from_colab/
model/
yolo/
*.pt
*.zip
*.tar.gz
*.onnx
*.onnx.data
*.param
*.bin
*.npy
.DS_Store
.ipynb_checkpoints/
*.ipynb
