__pycache__/
*.pyc
.venv/
outputs/
outputs_ablation/
outputs_detector/
ablation/
dataset/
colab_upload/
from_colab/
model/
yolo/
*.pt
*.pth
*.zip
*.onnx
*.onnx.data
*.param
*.bin
*.npy
.DS_Store
.ipynb_checkpoints/
